* {
    margin: 0;
    padding: 0;
}

div {
    width: 99%;
    height: 30vh;
    margin: 10px auto;
    border: 2px solid black;
    border-radius: 10px;
    background-size: auto 30vh;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    background-attachment: fixed;
    background-color: lightblue;
}

.img1 {
    background-color: white;
    background-image: url('img/1.jpg');

}

.img2 {
    background-color: white;
    background-image: url('img/2.jpeg');

}

.img3 {
    background-image: url('img/3.jpeg');
    background-color: white;

}

.img4 {
    background-image: url('img/12.jpeg');
    background-color: white;

}

.img5 {
    background-image: url('img/5.jpeg');
    background-color: white;
}

.img6 {
    background-image: url('img/9.jpeg');
    background-color: white;
}

.img7 {
    background-image: url('img/7.jpeg');
    background-color: white;
}

.img8 {
    background-image: url('img/8.jpeg');
    background-color: white;
}

.img9 {
    background-image: url('img/6.jpeg');
    background-color: white;
}

.img10 {
    background-image: url('img/10.jpeg');
    background-color: white;
}

.img11 {
    background-image: url('img/11.jpeg');
    background-color: white;
}

.img12 {
    background-image: url('img/4.jpeg');
    background-color: white;
}

.img13 {
    background-image: url('img/13.jpeg');
    background-color: white;
}

.img14 {
    background-image: url('img/14.jpeg');
    background-color: white;
}

.img15 {
    background-image: url('img/15.jpeg');
    background-color: white;
}

.img16 {
    background-image: url('img/16.jpeg');
    background-color: white;
}

.img17 {
    background-image: url('img/17.jpg');
    background-color: white;
}

.img18 {
    background-image: url('img/18.jpg');
    background-color: white;
}

.img19 {
    background-image: url('img/19.jpeg');
    background-color: white;
}

.img20 {
    background-image: url('img/20.jpeg');
    background-color: white;
}

.img21 {
    background-image: url('img/26.jpeg');
    background-color: white;
}

.img22 {
    background-image: url('img/22.jpeg');
    background-color: white;
}

.img23 {
    background-image: url('img/23.jpeg');
    background-color: white;
}

.img24 {
    background-image: url('img/24.jpeg');
    background-color: white;
}

.img25 {
    background-image: url('img/25.jpeg');
    background-color: white;
}

.img26 {
    background-image: url('img/21.jpeg');
    background-color: white;
}

.img27 {
    background-image: url('img/27.jpeg');
    background-color: white;
}

.img28 {
    background-image: url('img/28.jpeg');
    background-color: white;
}